<div class="center hero-unit">
<h3>Personalizované vyhľadávanie v digitálnej knižnici</h3> <br />
<%= form_tag search_path, :method => 'get' do %>
    <%= text_field_tag :q, params[:q], placeholder: "Enter search query...", class: 'text_field_class' %>
    <br />
    <%= number_field_tag :userid, params[:userid], placeholder: "Enter user id...", required: true  %>
    <br />
    <%= submit_tag("Search", class: "btn btn-small btn-primary") %>
<% end %>

</div>


