<script>
    $("[id^=text_]").hide();

    $("button").click(function (event) {
        if ($(this).text().trim() == 'Show more') {
            $("#text_" + event.target.id).fadeToggle(600);
            $("#short_" + event.target.id).fadeToggle(0);
            $(this).text("Show less")
        } else {
            $("#text_" + event.target.id).fadeToggle(0);
            $("#short_" + event.target.id).fadeToggle(600);
            $(this).text("Show more")
        }
    });

    $("[id^=link_]").click(function (event) {
        $.ajax({
            url: '/update',
            success: function (data) {
            },
            data: {doc_id: event.target.id}
        });
    });
</script>

<header>
  <br />
  <strong><%= link_to 'Back', articles_path if params[:q] %></strong>
</header>

<article>
<div class="article">
  <div class="result">
    <p><b>Displaying results for search query:</b> <strong><%= params[:q] %></strong></p>
    <br />
    <div>Took: <%= @result.took %>ms, total number of results: <%= @result.hits.total %></div>
  </div>

  <% if @articles.present? %>
      <% @articles.each do |article| %>
          <div class="data">
            <strong><%= link_to article[0]._source.citation_title, "http://dl.acm.org/citation.cfm?id=#{article[0]._source.id}", :id => "link_#{article[0]._source.id}_#{article[1]}" %></strong>
            <p>
              <small><%= check_presence(article[0]._source.tags) %></small>
            </p>
            <p>
              <small><%= check_presence(article[0]._source.citation_date) %></small>
            </p>
            <% if article[0]._source.authors.present? %>
                <% for i in 0..article[0]._source.authors.length-1 %>
                    <p>
                      <strong>
                        <small><%= link_to article[0]._source.authors[i].name, article[0]._source.authors[i].page %></small>
                      </strong>
                      <small><%= article[0]._source.authors[i].institution %></small>
                    </p>
                <% end %>
            <% end %>

            <div id="abstract">
              <%= content_tag :p, id: "short_#{article[0]._source.id}_#{article[1]}" do -%>
                  <%= shorten_abstract(article[0]._source.abstract[0].text) %>
              <% end -%>

              <%= content_tag :p, id: "text_#{article[0]._source.id}_#{article[1]}" do -%>
                  <%= article[0]._source.abstract[0].text %>
              <% end -%>

              <%= content_tag :button, id: "#{article[0]._source.id}_#{article[1]}" do -%>
                  Show more
              <% end -%>
            </div>
          </div>
      <% end %>
  <% end %>
  <br/>
</div>
<%begin %>
  <%= paginate @articles %>
<% rescue%>
  <%= puts "[Rescued]: Pagination known, but unresolved problem" %>
 <%end %>
</article>
<footer>
  <hr>
  <p>
  Copyright (c) 2014 Bakalársky projekt @ Matej Čaja @ <a href="http://www.fiit.stuba.sk/">FIIT</a>
  </p>
</footer>
