<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.citation_title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @article.citation_publisher %>
</p>

<p>
  <strong>Conference:</strong>
  <%= @article.citation_conference %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article.citation_date %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @article.authors %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @article.abstract %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @article.tags %>
</p>

<p>
  <strong>Classifications:</strong>
  <%= @article.classifications %>
</p>

<p>
  <strong>Published in:</strong>
  <%= @article.published_in %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
