<div class="center hero-unit">
  <h3>Zberač údajov</h3>

  <div class="form" id="form">
    <%= form_tag(run_path, method: "get") do %>

      <%= label_tag(:min, "Min") %>
      <%= text_field_tag(:min) %>

      <%= label_tag(:max, "Max") %>
      <%= text_field_tag(:max) %>
      <br />

      <%= submit_tag("Run in background", class: "btn btn-small btn-primary") %>

  <% end %>
    <br />
    <%= link_to "Back to search", articles_path %>
  </div>
</div>

