
@import "bootstrap";

* {
  margin-top: 0;
  padding: 0;
}

button{
  background:none;
  border:none;
  cursor: hand;
  margin-bottom: 10px;
}

button:hover{
  color: cornflowerblue;
  text-decoration: underline;
  cursor:pointer;
}

#abstract{
  font-size: 10px;
}

html, body {
  background-color: #cccccc;
  margin: 0px;
}

article{
  background-color: #cccccc;
  padding-top: 60px;
  padding-bottom: 20px;
}

header{
  width:100%;
  height: 45px;
  top: 0px;
  position: fixed;
  margin:0px auto;
  overflow: hidden;
  background-color: #000000;
  text-align: center;
}


header a:hover {
  color: #cccccc;
  text-decoration: none;
}
header a {
  color: #969696;
  text-decoration: none;
}

.article{
  margin: 0 auto;
  padding-top: 10px;
  width: 1150px;
  min-height: 700px;
  font-family: Tahoma, sans-serif;
  box-shadow: 0px 0px 6px black;
  background-color: #ffffff;
}

.article strong{
  font-size: 12px;
}

.article a{
  color: black;
  text-decoration: none;
}

.article a:hover{
  text-decoration: underline;
  color: cornflowerblue;
}

.data{
  margin: 40px;
  padding:15px;
  border:2px solid black;
  border-radius:6px;
}

.pagination{
  background-color: #cccccc;
  text-align: center;
  padding-top: 10px;
}

footer{
  padding-top: 10px;
  background-color: #cccccc;
  color: #777777;
  font-family: Tahoma, sans-serif;
}

footer hr{
  color: white;
}

footer p{
  padding: 0px 0px 2px 10px;
  font-size: 10px;
}

footer strong{
  text-align: center;
}

footer a:hover {
  text-decoration: underline;

}
footer a {
  color: #262626;
  text-decoration: none;
}

.text_field_class{
  width: 500px
}

.center {
  text-align: center;
  height: 250px;
  margin-top: 100px;
  //background-color: #cccccc;
}

.center h1 {
  margin-bottom: 10px;
}

.result{
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
}

.result p{
  color:#000000;
  font-size: 12px;
}

.result strong{
  color: cornflowerblue;
}

.hero-unit h3{
  font-size: 18px;
}